.username {
    font-weight: 700;
    font-family: 'Source Code Pro';
    margin-right: 6px;
    display: inline;
}

.line-container {
    width: 100%;
    font-family: Open Sans;
    font-size: 12px;
    display: flex;
    background-color: #FFF;
    font-family: 'Source Code Pro';
    font-size: 11px;
    color: #414E6E;
}

.line-str {
    display: inline;
    white-space:pre;
}