.username {
    font-weight: 700;
    font-family: 'Source Code Pro';
    margin-right: 11px;
    padding-left: 0px;
    /*border-left: 1px solid #CCC;*/
}

.line-container {
    width: 100%;
    padding-bottom: 2px;
    font-size: 12px;
    display: flex;
    background-color:  #f1f2f4;
    font-family: 'Source Code Pro';
    color: #414E6E;
}

.prompt-input-style {
    background-color: #f1f2f4;
    border: none;
    width: 100%;
    font-family: 'Source Code Pro';
    color: #1e1e1e;
    font-size: 12px;
    outline-width: 0;
    outline: none;
}
.input-txt {
    display: inline;
}

.linenum {
    text-align: right;
    margin-right: 15px;
    padding-right: 12px;
    background: #d4d5d6;
    color: #a5a5a5;
    padding-left: 4px;
    display: inline;
    width: 20px;
}
