<div class="header">
  <div class="title">
    {{title}}
  </div>

  <div class="right-title">
    <ul class="menu">
      <li><a href="http://www.jaftem.com/blog">Blog</a></li>
      <li><a href="http://www.jaftem.com/">Home</a></li>
    </ul>
  </div>
</div>

<div class="welcome-msg">I am an engineer, designer, and creator.<br />Let's get to know one another.</div>

<div class="main-container">
  <terminal></terminal>
</div>

<div class="los-angeles">
  <img [src]="'assets/img/los-angeles.png'" width="500px"
        class="la-img" />
</div>
<div class="footer">
  Made by Jeremy Aftem.

</div>