<div class="window">
  <div class="titlebar">
    <div class="buttons">
      <div class="close">
        <a class="closebutton" href="#"><span><strong>x</strong></span></a>
        <!-- close button link -->
      </div>
      <div class="minimize">
        <a class="minimizebutton" href="#"><span><strong>&ndash;</strong></span></a>
        <!-- minimize button link -->
      </div>
      <div class="zoom">
        <a class="zoombutton" href="#"><span><strong>+</strong></span></a>
        <!-- zoom button link -->
      </div>
    </div>
    
    <!-- window title -->
  </div>
  <div class="content">
      <!--
    guest@jaftem:~$ &nbsp;!welcome<br />
    guest@jaftem:~$ &nbsp;Hi, my name is <b>Jeremy</b> and I'm a CS student living in sunny Los Angeles,<br />
    guest@jaftem:~$ &nbsp;California. Type `help` for a list of commands.<br />
    guest@jaftem:~$ &nbsp;-->
    <!-- window content -->

    <!-- LINES -->
    <line
        *ngFor="let str of lines | async"
        [str]="str">
    </line>
    <!-- PROMPT -->
    <prompt></prompt>
  </div>
</div>